<% unless @panic_issues.nil? -%>
  <%= render :partial => "issue_list_plain", :locals => { :type => "panic", :issues => @panic_issues, :days => @panic_days } %>
<% end -%>
<% unless @stale_issues.nil? -%>
  <%= render :partial => "issue_list_plain", :locals => { :type => "stale", :issues => @stale_issues, :days => @stale_days } %>
<% end -%>