<p><%= l("mail_body_status_mail_#{@type}".to_sym, :count => @issues.size, :days => @days) %></p>

<ul>
<% @issues.each do |issue| -%>
  <li><%=h issue.project %> - <%=link_to("#{issue.tracker} ##{issue.id}", :controller => 'issues', :action => 'show', :id => issue, :only_path => false)%>: <%=h issue.subject %></li>
<% end -%>
</ul>
